// app global css in SCSS form

.my-edu-menu .q-scrollarea__content {
  width: 100%;
}
.bg-base-menu {
  background-color: $base-menu;
}

.text-base-menu {
  color: white;
}
.my-menu .q-item__label--caption{
  color: #eeeeee !important;
}
table.q-table > tbody > tr.selected {
  background: rgba($secondary, .07);
}
//deprecated start
.sticky-column-table td:first-child {
  background-color: #f5f5dc;
}

.sticky-column-table th:first-child, .sticky-column-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

.sticky-column-table td:last-child {
  background-color: #f5f5dc;
}

.sticky-column-table th:last-child, .sticky-column-table td:last-child {
  position: sticky;
  right: 0;
  z-index: 1;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
