// app global css in SCSS form
@font-face {
  font-family: 'Lovelo-Black';
  src: url(../assets/Lovelo/__MACOSX/Lovelo/Commercial/WEB/._Lovelo-Black.woff2);
}
@font-face {
  font-family: 'Lovelo-LineBold';
  src: url(../assets/Lovelo/__MACOSX/Lovelo/Commercial/WEB/._Lovelo-LineBold.eot);
}
@font-face {
  font-family: 'Lovelo-LineBold';
  src: url(../assets/Lovelo/Lovelo/Commercial/TTF/Lovelo-LineBold.ttf);
}


//Sass
$Lovelo-Black: 'Lovelo-Black';
$lovelo-LineLight: 'Lovelo-LineLight';
$Lovelo-LineBold: 'Lovelo-LineBold';

//Style
* {
  font-family: $Lovelo-Black;
  box-sizing: border-box;
}
.my-edu-menu .q-scrollarea__content {
  width: 100%;
}
.bg-base-menu {
  background-color: $base-menu;
}
.bg-danger {
  background-color: $bg-danger;
}
.bg-warning {
  background-color: #ffc107!important;
}
.bg-success {
  background-color: #198754!important;
}

.text-base-menu {
  color: white;
}
.my-menu .q-item__label--caption{
  color: #eeeeee !important;
}
table.q-table > tbody > tr.selected {
  background: rgba($secondary, .07);
}
//deprecated start
.sticky-column-table td:first-child {
  background-color: #f5f5dc;
}

.sticky-column-table th:first-child, .sticky-column-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

.sticky-column-table td:last-child {
  background-color: #f5f5dc;
}

.sticky-column-table th:last-child, .sticky-column-table td:last-child {
  position: sticky;
  right: 0;
  z-index: 1;
}
.sticky-last-column-table td:last-child {
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: #f5f5dc;
}

.sticky-last-column-table th:last-child {
  position: sticky;
  right: 0;
  z-index: 3;
  background-color: #f5f5dc;
}
.table-row-bg-style tr:nth-child(even){
  background-color: rgba(236, 239, 241, 0.42);
}
.table-row-bg-style tr th {
  font-size: 14px;
}
.table-row-bg-style tr td {
  font-size: 14px;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  padding: 0;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(163, 163, 163, 0.3);
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  background-color: #F5F5F5;
}

.scroll-area-users-info {
  height: calc(100vh - 570px);
}

.scroll-area-jur-info {
  height: calc(100vh - 435px);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba($secondary, .3);
  border-radius: 3px;
  //border: 0.5px solid #555555;
}
